@font-face {
    font-family: "Basis Grotesque";
    src: url(./fonts/BasisGrotesqueArabicPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Basis Grotesque";
    src: url(./fonts/BasisGrotesqueArabicPro-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Basis Grotesque-l";
    src: url(./fonts/BasisGrotesqueArabicPro-Light.ttf);
}

body,
main {
    margin: 0;
    font-family: "Basis Grotesque", sans-serif;
    font-weight: normal;
    cursor: url('./images/icons8-select-cursor-24.png'), auto;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #644bc0ad;
    color: white;
}

main {
    background-color: #F9FBE7;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    font-weight: bold;
    z-index: 500;
}

ul {
    font-size: 23px;
    list-style-type: none;
    display: flex;
    gap: 7%;
    margin-right: 15%;
    margin-top: 1.5%;

}

ul li {
    padding: 10px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #333
}

.blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: overlay;
}

.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
}

.main-text {
    display: grid;
    margin: auto;
    place-content: center;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    font-size: 50px;
    justify-self: center;
    align-self: center;
    margin-right: 5%;
    margin-bottom: 2%;
    font-weight: bold;
}

.title {
    background-color: #8da5eed8;
    padding: 2px;

}

.para {
    justify-self: center;
    align-self: center;
    font-size: 23px;
    font-family: "Basis Grotesque", sans-serif;
    font-weight: medium;
}

.arrowDown-icon {
    cursor: pointer;
}

.bottom {
    color: #333;
    position: absolute;
    inset: auto 0 0;
    bottom: 0;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
}

#scrollToTheMiddle {
    animation: bubbleUp 1000ms infinite alternate;
}

@keyframes bubbleUp {

    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-10px);
    }
}

.button-down {
    background-color: transparent;
    border: none;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/undraw_programming_re_kg9v.svg') no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.findMe {
    font-size: 19px;
}

i:hover {
    transition: all 300ms;
    opacity: 0.5;
}

.projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.projectsTitle {
    font-size: 35px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 41px;
}

.card {
    border-radius: 8px;
    margin: 20px;
    max-width: 380px;
    background-color: #fff;
    transition: background-color 500ms ease;
    padding: 7px;
}

.card:hover {
    background-color: #3333333b;
}

.card__header {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.card__image {
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card__image img {
    width: 100%;
    height: 280px;
}


.card__caption {
    text-align: center;
    margin: 10px 0;
}



.card__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card__link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 400ms ease;
}

.card__link:hover {
    background-color: #F9FBE7;
    color: #000;
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    min-height: 50vh;
    background-color: #F7E6C4;
    padding-top: 1%;

}

.section1-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-footer {
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-left: -25%;
    justify-self: flex-end;
    align-self: flex-end;
}

.information {
    margin-left: 10%;
}

.head {
    font-size: 3em;
    font-family: "Basis Grotesque-l", sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
}

.para-2 {
    font-size: 16.5px;
    max-width: 60%;
    line-height: 23px;
    font-weight: bold;
}

.para-3 {
    display: flex;
    align-items: center;
}

.social {
    gap: 0;
    margin-left: -2rem;
    margin-top: 2rem;
}

.social-l {
    transition: all 300ms;
}

.social-l:hover {
    color: #0072b1;
}

.social-t {
    transition: all .3s ease;
}

.social-t:hover {
    color: #00acee;
}

.social-g {
    transition: all 300ms;
}

.social-g:hover {
    opacity: 0.7;
}

@media (max-width:600px) {

    main {
        min-height: 100%;
    }

    .main-text {
        display: flex;
        flex-direction: column;
    }

    .description {
        padding-top: 80px;
        text-align: center;
    }

    .welcome {
        font-size: 35px;
        margin-right: 0;
    }

    .para {
        font-size: 21px;

    }

    nav {
        padding-top: 2%;
        align-items: center;
    }

    #ul {
        padding: 0;
        margin: auto;
        gap: 10px;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .head {
        font-size: 35px;
        text-align: center;
        padding-top: 15px;
    }

    .section2-footer {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .copyright {
        margin-left: 0;
        margin-top: 1rem;
        align-self: center;
    }

    .para-2 {
        font-size: 16px;
        text-align: center;
        margin-right: 0;
        max-width: 90%;
    }

    .information {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .social {
        margin: auto;
        gap: 20px;
        padding: 0;

    }

    .picture {
        background-image: url('./images/phone.svg');
        width: 100%;
    }

    .title {
        line-height: 42px;
    }

    .title-1 {
        font-size: 28.5px;
    }
}